body {
    background-color: #006064;
    margin: 0;
}

.outer {
    background-color: white;
    max-width: 64rem;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    
    
/*    opacity: 0.9999999;*/
}

a {
    color: #D50000;
    font-weight: bold;
    text-decoration: inherit;
    text-shadow: 1px 1px 0 white, 0 0 0.4em white;
}



h1:after {
    /* Transparent background image in CSS technique from
     * https://scotch.io/tutorials/how-to-change-a-css-background-images-opacity
     */
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: 64rem;
    -o-background-size: 64rem;
    -moz-background-size: 64rem;
    -webkit-background-size: 64rem;
    background-size: 64rem;
}

h1 {
    height: 13rem;
    align-self: center;
    text-align: center;
    padding-top: 4rem;
    background-repeat: no-repeat;
    background-size: 64rem;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 3rem;
    font-weight: bolder;
    color: #D50000;
    /* Fake text outline based on https://www.html5andbeyond.com/css-text-stroke-effect-tutorial-workaround/ */
    text-shadow: 1px 1px 0 black, 1px -1px 0 black, -1px 1px 0 black, -1px -1px 0 black, 0 0 0.7em black, 0 0 0.15em black;
    position: relative;
    overflow: hidden;
    background-color: #E0F7FA;
    
    /* Need to set some transparency, or else changing background-color here
     * breaks the transparent background images on h1 elements because of 
     * wonky z-order behavior.
     */
    opacity: 0.9999999
}

nav {
    background-color: #00BCD4;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 0;
}

nav li {
    display: inline-block;
    border-right: 1px solid #D50000;
    margin: 0;
    padding: 0;
    font-size: 1.1rem;
}

nav li a {
    display: block;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    width: 7em;
    margin: 0;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 0 black, 0 0 0.4em black
    
}

nav li.active {
    color: #D50000;
    text-shadow: 1px 1px 0 white, 0 0 0.4em white
}

nav li.active a {
    color: #D50000;
    text-shadow: 1px 1px 0 white, 0 0 0.4em white
}

nav li:hover {
    background-color: #D50000;
}

nav li.active:hover {
    color: white;
    background-color: inherit;
}

footer {
    background-color: #00BCD4;
    color: white;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: 1.5rem;
    text-shadow: 1px 1px 0 black, 0 0 0.4em black;
    font-size: 0.8rem;
}

footer p {
    margin: 0.5em;
}


h2, h3, h4, h5, h6 {
    color: #006064;
}

h2 {
    width: 62%;
    margin-left: 4%;
    min-width: 28rem;
    text-align: center;
}

h3, h4, h5, h6 {
    margin-top: 0.25rem;
}


section {
    margin-left: 4%;
    width: 62%;
    min-width: 28rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: #E0F7FA;
}



.main {
    position:relative;
}





/* GLOBAL MEDIA QUERIES */

@media (max-width: 33rem) {
    nav li {
        display: initial;
        border-right: initial;
    }
    nav li a {
        text-align: center;
        background-color: inherit;
        width: 100%;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);

    }
    h2 {
        margin-left: 0;
        margin-right: 0;
        width: auto;
        min-width: initial;
    }
    
    section {
        width: inherit;
        min-width: initial;
        margin-left: 2%;
        margin-right: 2%;
    }
}




/* PAGE-SPECIFIC PROPERTIES */


.home h1:after {
    background-position: left 50% top -13rem;
    background-image: url(Deep_Space_9_promenade_The_Fallen.jpg);
}

.home section {
    margin-left: 4%;
    margin-right: 4%;
    width: auto;
}

.home section:first-child {
    width: 51%;
}


.home aside {
    position:absolute;
    display: inline;
    padding: 0;
    right: 4%;
    top:3rem;
    width: 36%;
    min-width: 15em;
    background-color: #D50000;
    color: white;
    quotes: "\201C""\201D""\2018""\2019";
}

.home blockquote {
    margin: 0;
    padding: 0.5em;

}

.home blockquote p:before {
    content: open-quote;
    display: block;
    margin-left: -0.55em;
    margin-top: 0.5em;
    font-size: 3rem;
    line-height: 0;
    vertical-align: -0.7em;
}

.home blockquote p {
    margin-left: 2rem;
    margin-right: 2rem;
    text-shadow: 1px 1px 0 black, 0 0 0.4em black;

}

.home blockquote p:after {
    content: close-quote;
    display: block;
    font-size: 3rem;
    line-height: 0;
    text-align: right;
    margin-right: -0.55em;
}

.home blockquote cite {
    margin-left: 3em;
    font-weight: bolder;
    font-size: 1.1rem;
}

.home blockquote cite:before {
    content: "\2014";
    margin-right: 0.5em;
}



.inventory h1:after {
    background-position: left 50% top -22rem;
    background-image: url(Self-sealing_stem_bolt_1.jpg);
}

.inventory h2 {
    width: initial;
    min-width: initial;
}

.inventory .productLabel {
    display: table-cell;
    font-weight: bolder;
    color: black;
    text-shadow: 1px 1px 0 white, 0 0 0.4em white;
    width: 5rem;
}

.inventory .productLabel:after {
    content: ":";
}

.inventory .productValue {
    display: table-cell;
    color: black;
    font-weight: normal;
    height: 2.75em;
    }

.inventory .productId {
    visibility: collapse;
    font-size: 0;
}

.inventory .oos h3, 
.inventory .oos .productLabel,
.inventory .oos .productValue{
    color: lightgray;
}

.inventory .oos {
    background-color: whitesmoke;
}

.inventory .content {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    
}

.inventory section {
    width: 10rem;
    min-width: initial;
    margin: 1rem;
    border: 0.2rem solid rgba(0, 0, 0, 0);
}

.inventory section:hover {
    border-color: #D50000;
}

.inventory section.oos:hover {
    border-color: lightgray;
}

.inventory section h3 {
    text-align: center;
    height: 2.5em;
}

.about h1:after {
    background-position: left 50% top -9.4rem;
    background-image: url(selfsealing-stembolts.jpg);
}

.contact h1:after {
    background-position: left 50% top -1.9rem;
    background-image: url(SubspaceRelayStation06.jpg)
}



/* PAGE-SPECIFIC MEDIA QUERIES */

@media (max-width: 55rem) {
    .home h2 {
        width: auto;
        min-width: initial;
    }
    .home section:first-child {
        width: inherit
    }
    .home aside {
        position: initial;
        margin-bottom: 0;
    }
    
    .home blockquote {
        background-color: #D50000;
        margin-bottom: 0;
        margin-left: 4%;
        margin-right: 4%;
        margin-top: 1.5rem;
    }
}

@media (max-width: 29.8rem) {
    .inventory .content {
        display: block;
    }
    .inventory section {
        width: inherit;
    }
    .inventory section h3 {
        text-align: left;
        height: auto;
        margin-bottom: 0.5em;
    }
    .inventory .productLabel {
        display: inline-block;
    }
    .inventory .productValue {
        display: initial;
    }
}